$homeBackGround: linear-gradient(to right top, #f46b45, #eea849);
$projectBackGround: linear-gradient(to right top, #005c97, #363795);
$contactBackGround: linear-gradient(to right top, #e53935, #e35d5b);
$backgroundColor: #5d4954;
$logoColor: rgb(204, 197, 197);
