@import "./variables";
@import "./nav";
@import "./hero";

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

header {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  background: $navBackgroundColor;
  opacity: 0.7;
}

.logo {
  color: $logoColor;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #ba7453, #d1a984);
  z-index: -1;
}

section {
  @include flexCenter(column);
  min-height: 100vh;
  h2 {
    font-size: 5rem;
    color: white;
  }
}

.home {
  background: $homeBackGround;
}
.project {
  background: $projectBackGround;
}
.contact {
  background: $contactBackGround;
}

.bubble {
  position: absolute;
  z-index: -2;
  /* background: linear-gradient(to right top, #f46b45, #eea849); */
  transform: scale(1.5);
  transition: all 0.5s ease;
  border-radius: 3px;
}

@import "./media";
